main {
    opacity: 1;

    animation-name: fade-in;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: .1s;
}

@keyframes fade-in{
0%{
    transform: translateX(800px);
    opacity: 0;
}

50%{
    transform: translateX(400px);
    opacity: 0.5;
}


100%{
    transform: translateX(0px);
    opacity: 1;
}
}

#menu a:hover{
    transform: scale(1.1);
}

nav li:hover{
    transform: scale(1.1);
}