main {
    opacity: 1;

    animation-name: fade-in;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: .1s;
}

@keyframes fade-in{
0%{
    transform: translateX(800px);
    opacity: 0;
}




100%{
    transform: translateX(0px);
    opacity: 1;
}
}

#menu a:hover{
    color: rgb(236, 197, 125);
    transform: scale(1.05);
}

nav li:hover{
    color: rgb(236, 197, 125);
    transform: scale(1.05);
}