
/* Menu */


#menu a{
    font-size: 1rem;
    color: black;
}


.carousel-inner{
    max-height: 900px;
    
}

.section-text{ 
    max-width: 1600px;
    width: 90%;
    margin: auto;

    text-align: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    color: rgb(41, 41, 41);
}

.card{
    margin: 20px;

    img{
    height: 400px;
}


.card-body{
    background-color:rgb(204, 204, 204) ;
    h5{
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 1.6em;
    }
    p{
        color: rgb(88, 88, 88);
        font-size: 0.8em;
        margin: 15px;
    }
}
}

nav{
    
    a{
    text-decoration: none;
    }
    li{
    color: rgb(180, 180, 180);
    }
}