@media (min-width: 576px){
.card-group {
    padding-bottom: 75px !important;
}
}

@media screen and (max-width: 768px) {
    // home
    .card{
        margin: 3px;
    
        img{
        height: 300px;
    }
    .row{
     
       text-align: center;
    }
}
.destacadas-mes {
    padding: 20px; 
}
.destacadas{
    img{
        
        margin: 10px;
        width: 280px;
        height: 300px;
    }
}
#destacadas{
    display: block;

}
.bg-destacadas h2, p{
    margin: auto;
    max-width: fit-content;
}
    


// recetas
    .container-grid{
        padding: 4px;
        grid-template-columns: repeat(1, 1fr);  
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "salado-1"
        "salado-2"
        "salado-3"
        "salado-4";
    
    }



    .salado-1{
        border-radius: 10px;
    
    h3{
        font-size: 1.2rem;
    }
    
    li{
        font-size: 1rem;
    }
}
    
    /* div 1 de la seccion salado */
    .salado-2{
        border-radius: 10px;
    
    h3{
        font-size: 1.2rem
    }
    li{
        font-size: 1rem;
    }
}   
    
    /* div 1 de la seccion salado */
    .salado-3{
        border-radius: 10px;
    
    h3{
        font-size: 1.2rem
    }
    li{
        font-size: 1rem;

    }
} 
    /* div 1 de la seccion salado */
    .salado-4{
        border-radius: 10px;
    
    h3{
        font-size: 1.2rem
    }
    li{
        font-size: 1rem;
    }
}
}




    .container-dulce-grid{
        grid-template-columns: repeat(1, 1fr);  
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "dulce-1"
        "dulce-2"
        "dulce-3"
        "dulce-4" ;
    
    }

// contactanos
    #form {
        font-size: 0.8rem;
    }


    .Bienvenido{
        display: none;
    }

    .main_nosotros{
        background-color: #222;
        display: flex;
        
        padding-top: 20vh;
        padding-bottom: 30vh;
    
    img{
        padding-left: 50px;
        max-height: 400px;
        width: 400px;
        border-radius: 50px;
    }
    }
    .nosotros-text{
        display: flex;
        flex-direction: column;
        text-align: start;
        color: rgb(228, 228, 228);
        font-size: 0.8rem;
        padding-left: 20px;
        padding-right: 20px;
    
    h2{
        font-size: 2rem;
        font-weight: bold;
    }
    }

    .main-nosotros-2{
        background-color: #222;
        padding-bottom: 100px;
        display: flex;
        
    
    
    img{
        height: 300px;
        width: 300px;
        padding-right: 10px;
        border-radius: 40px;
    }
    }
    .nosotros-text-2{
        display: flex;
        flex-direction: column;
        text-align: start;
        color: white;
        font-size: 0.8rem;
        padding-left: 20px;
        padding-right: 50px;
    
    h2{
        font-size: 2rem;
        font-weight: bold;
    
    }
    }
